#version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: econ_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-rootpass}
    command: ["--character-set-server=utf8mb4", "--collation-server=utf8mb4_unicode_ci"]
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -p${MYSQL_ROOT_PASSWORD} --silent"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: econ_web
    command: >
      bash -c "python manage.py migrate &&
               gunicorn econAgent.wsgi:application --bind 0.0.0.0:8000"
    env_file:
      - .env
    environment:
      USE_MYSQL: "${USE_MYSQL}"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  scheduler:
    build: .
    container_name: econ_scheduler
    command: >
      bash -c "printenv | grep -v 'no_proxy' > /etc/environment && \
               cp /app/scheduler.cron /etc/cron.d/scheduler_cron && \
               chmod 0644 /etc/cron.d/scheduler_cron && \
               touch /var/log/cron.log && \
               cron -f"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
        

volumes:
  dbdata: